.App {
  text-align: center;
  padding: 10px;
  background-color: #e6e6e6;
}

.App .top-bar {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.App input {
  font-size: 2rem;
  padding: 5px;
  border-radius: 0px 15px 0px 15px;
  width: 50%;
  height: 2rem;
  margin-bottom: 0.5rem;
}

.App input:focus {
  outline: none;
}
.amiibos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #0377fc;
  margin-top: 20px;
}

.amiibos img {
  height: 20vh;
}

.amiibo {
  padding: 15px 10px;
  background-color: #fcca03;
  width: 20%;
  margin: 10px 15px;
  height: 50vh;
  border-radius: 10%;
}

.amiibo h1 {
  font-size: 1rem;
}

@media (max-width: 750px) {
  .amiibo {
    height: 100%;
    margin: 5px;
    overflow-x: hidden;
  }
  .amiibo h1 {
    font-size: 0.6rem;
  }
  .amiibo img {
    height: 100px;
  }

  .App input {
    font-size: 1.5rem;
  }
}
